body{
    background-color: #C1DDE8;
}
.S{
    color: black;
    font-size: 100px;
}
header{
    font-size: xx-large;
}
nav{
    font-size: x-large;
}
header,nav{
    text-align: center;
    color: blue;
}
p::first-line{
    color: red;
}
hr + section  p{
    color: black;
    font-weight: bold;
}